@use "../global" as *;

/* ========================================
  Base
  Note: Difine your base style
======================================== */
// body {
//   font-family: $font-family-primary;
//   font-weight: 400;
//   color: $color-text-primary;
// }

body {
  // noto sans
  font-family: "A+mfCv-AXIS Font コンデンス R ProN", sans-serif;
  font-weight: 400;
  visibility: hidden;

  &.loaded {
    visibility: visible;
  }
}

.pc_only {
  @include mq-sp {
    display: none !important;
  }
}
.sp_only {
  @include mq-pc {
    display: none !important;
  }
}

.h-100svh-skel {
  @include vh(height, 100);
  position: fixed;
  pointer-events: none;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.works {
  padding-left: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  color: #cacaca;
  position: relative;
  z-index: 100;
  font-size: 2vw;
  width: 50%;
  letter-spacing: 0.3vw;
  @include mq-sp {
    font-size: 5vw;
    letter-spacing: 0.6vw;
    width: 90%;
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
    @include mq-sp {
      gap: 5vw;
    }
  }
  li {
    &:last-child {
      margin-top: 5vw;
    }
  }
  a {
    text-decoration: underline;
  }
}

canvas {
  //background-color: green;
  //pointer-events: none;
}

$blue: #01428e;

.fv {
  &-section {
    @include vh(height, 400);
  }
  &-content {
    position: sticky;
    @include vh(height, 100);
  }
}
.about {
  &-section {
    position: relative;
    z-index: 2;
    @include vh(height, 100);
    text-align: center;
    @include fz(32);
    h2 {
      @include mt(40);
    }
  }
  &-head {
    @include fz(20);
    display: flex;
    @include gap(20);
    align-items: center;
    justify-content: center;
    color: $blue;
    &__icon {
      @include w(23);
    }
    &-2 {
      @include fz(30);
      @include mt(30);
      @include ls(4);
      color: $blue;
    }
  }
  &-pic {
    @include w(720);
    margin-left: auto;
    margin-right: auto;
    @include mt(45);
  }
  &-list {
    text-align: center;
    @include fz(12);
    @include mt(40);
    &__list {
      display: flex;
      flex-direction: column;
      @include gap(20);
    }
    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      @include gap(12);
    }
    &__name {
      color: $blue;
      line-height: 1;
      border: 1px solid;
      @include plr(10);
      @include pt(3);
      @include pb(5);
    }
    &__content {
      @include fz(15);
      line-height: 1.75;
    }
  }
  &-desc {
    @include fz(20);
    line-height: 2;
    @include mt(30);
  }
}

img {
  width: 100%;
  display: block;
}

.scroll-atten {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0%);
  bottom: 0;
  z-index: 100;
  transition: opacity 0.5s;
  opacity: 1;
  @include enFont();
  &__line {
    @include h(50);
    @include w(1);
    background-color: black;
    @include mt(10);
    margin-left: auto;
    margin-right: auto;
  }
  &.hide {
    opacity: 0;
  }
}

/* main {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: scroll;
  overscroll-behavior: none;
}
 */

.beer-santa {
  font-family: "FOT-筑紫B丸ゴシック Std R";
  font-weight: 400;
}

@font-face {
  font-family: "ER-Garamond";
  src: url("/fonts/EBGaramond-Italic.ttf");
}

html.water-page,
html.water-page body {
  /*  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; */
}

html.water-page {
  main {
    position: relative;
    z-index: 3;
  }

  canvas {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
  }

  .cls-1 {
    fill: #fff;
  }

  .cls-2 {
    fill: #008b93;
  }

  .cls-3 {
    fill: #e83c3c;
    fill: #008b93;
  }
  .center-logo {
    opacity: 0;
  }

  .water-logo {
    &-wrap {
      overflow: hidden;
      @include absCover();
      @include vh(height, 100);
      //position: fixed;
      background-color: white;
      z-index: 4;
    }
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    z-index: 5;
    //background-color: red;
    @include mq-sp {
      width: 100%;
    }
  }
}

.fv {
  height: 100vh;
}
main {
  position: relative;
}

.copy {
  @include vh(height, 100);
  display: flex;
  justify-content: center;
  align-items: center;
  &__inner {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
  &__head {
    width: 15%;
    @include mq-sp {
      width: 40%;
    }

    opacity: 0;
    transform: translateY(200px);
    &.inview {
      opacity: 1;
      transform: translateY(0px);
      transition: transform 2s $easeOutQuint, opacity 1s;
    }
  }
  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10%;
    @include mt(40);
    @include mq-sp {
      grid-template-columns: 1fr;
    }
  }

  &__block {
    &:nth-child(1) {
      opacity: 0;
      transform: translateY(200px);
      &.inview {
        opacity: 1;
        transform: translateY(0px);
        transition: transform 3s $easeOutQuint, opacity 1s;
      }
    }
    &:nth-child(2) {
      opacity: 0;
      transform: translateY(200px);
      &.inview {
        opacity: 1;
        transform: translateY(0px);
        transition: transform 3s $easeOutQuint 0.4s, opacity 1s 0.4s;
      }
    }
  }
}

.oz-main {
  position: relative;
  z-index: 4;
}
.oz-fv {
  height: 200vh;
  svg {
    path {
      fill: currentColor;
    }
  }
  &__top {
    display: flex;
    align-items: flex-end;
    gap: 3vw;
  }
  &__logo {
    width: 55vw;
  }
  &__jp {
    width: 16vw;
    padding-bottom: 3vw;
  }
}

.oz-about {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 3000px;
  svg {
    width: 57vw;
  }
  svg {
    path {
      fill: currentColor;
    }
  }
}

.kura-main {
  position: relative;
  z-index: 2;
}
.kura-fv {
  height: 80vh;
}

.kura-about {
  height: 150vh;
  border-top: 2px solid black;
}
.kura-story {
  height: 150vh;
  border-top: 2px solid black;
}

body {
  color: black;
  &.dark {
    background-color: black;
    color: white;
  }
}

.p5Canvas {
  position: relative;
}

.tda-logo {
  //width: 400px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  perspective: 400px;
  text-align: center;
  &-1 {
    transform-style: preserve-3d;
    animation: rotate 10s linear infinite;
    img {
      transform: rotateX(-30deg) rotateZ(5deg) rotateY(5deg);
    }
  }
  &-2 {
    transform-style: preserve-3d;
    animation: rotate 10s linear infinite -1s;
    img {
      transform: rotateX(40deg) rotateZ(-3deg) rotateY(-5deg);
    }
  }
  &-3 {
    transform-style: preserve-3d;
    animation: rotate 10s linear infinite -2s;
    img {
      transform: rotateX(-30deg) rotateZ(0deg) rotateY(-10deg);
    }
    //animation: rotate 5s linear infinite;
  }
  @keyframes rotate {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(-360deg);
    }
  }
  img {
    height: 40px;
    width: auto;
    display: inline-block;
  }
}
