@use "../global" as *;

/* ========================================
  Base
  Note: Difine your base style
======================================== */
// body {
//   font-family: $font-family-primary;
//   font-weight: 400;
//   color: $color-text-primary;
// }

body {
  // noto sans
  font-family: "A+mfCv-AXIS Font コンデンス R ProN", sans-serif;
  font-weight: normal;
  font-weight: 400;
  visibility: hidden;
  &.loaded {
    visibility: visible;
  }
}

.pc_only {
  @include mq-sp {
    display: none !important;
  }
}
.sp_only {
  @include mq-pc {
    display: none !important;
  }
}

.h-100svh-skel {
  @include vh(height, 100);
  position: fixed;
  pointer-events: none;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.works {
  padding-left: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  color: #cacaca;
  position: relative;
  z-index: 100;
  font-size: 2vw;
  width: 50%;
  @include mq-sp {
    font-size: 5vw;
    width: 90%;
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
    @include mq-sp {
      gap: 5vw;
    }
  }
  li{
    &:last-child{
      margin-top: 5vw;
    }
  }
  a {
    text-decoration: underline;
  }
}
