@use "../global" as *;

/* ========================================
  Base
  Note: Difine your base style
======================================== */
// body {
//   font-family: $font-family-primary;
//   font-weight: 400;
//   color: $color-text-primary;
// }

body {
  // noto sans
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
}

.pc_only {
  @include mq-sp {
    display: none !important;
  }
}
.sp_only {
  @include mq-pc {
    display: none !important;
  }
}

