<div class="fix-content">
  <div class="fix-content__item" data-index="0">
    <img class="fix-content__bg" src="/img/top/fv_bg.webp" alt="">
    <div class="top-fix-content-1">
      <div class="top-fix-content-1__content">
        <div class="top-fix-content-1__line">
          <img src="/img/top/fv_line.svg" alt="">
        </div>
        <div class="top-fix-content-1__logo">
          <img src="/img/top/logo_white.svg" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="fix-content__item" data-index="1">
    <img class="fix-content__bg" src="/img/top/fv_bg.webp" alt="">
    
  </div>
  <div class="fix-content__item" data-index="2">
    <img class="fix-content__bg" src="/img/top/news_bg.webp" alt="">
  </div>
  <div class="fix-content__item" data-index="3">
    <img class="fix-content__bg" src="/img/top/news_bg.webp" alt="">
  </div>
  <div class="fix-content__item" data-index="4">
    <img class="fix-content__bg" src="/img/top/news_bg.webp" alt="">
  </div>
  <div class="fix-content__item" data-index="5">
    <img class="fix-content__bg" src="/img/top/news_bg.webp" alt="">
  </div>
</div>