
<div id="topNews" class="page-sec top-news">
  <div class="top-news__title section-head pc_only">
    NEWS
  </div>
  <div class="top-news__inner">
    <div class="top-news__title section-head sp_only">
      NEWS
    </div>
<!--     <div class="top-news-year">
      <ul class="top-news-year__list">
        <li class="top-news-year__item active" data-row="1">
          NEW
        </li>
        <li class="top-news-year__item" data-row="2">
          2022
        </li>
        <li class="top-news-year__item" data-row="3">
          2021
        </li>
        <li class="top-news-year__item" data-row="4">
          OLD
        </li>
      </ul>
    </div> -->
    <ul class="top-news__rows">
      <li class="top-news__row" data-row="1">
        <ul class="top-news__list">
          <li class="top-news__item">
            <div class="news-block__item">
              <div class="news-block__info">
                <div class="news-block__date">
                  2021.01.01
                </div>
                <div class="news-block__cat">
                  Press Release
                </div>
              </div>
              <div class="news-block__head">
                ホームページをリニューアルしました。New
              </div>
              <a href="" target="_blank" class="news-block__pdf">
                PDF
              </a>
            </div>
          </li>
          <li class="top-news__item">
            <div class="news-block__item">
              <div class="news-block__info">
                <div class="news-block__date">
                  2021.01.01
                </div>
                <div class="news-block__cat">
                  Press Release
                </div>
              </div>
              <div class="news-block__head">
                ホームページをリニューアルしました。
              </div>
              <a href="" target="_blank" class="news-block__pdf">
                PDF
              </a>
            </div>
          </li>
          <li class="top-news__item">
            <div class="news-block__item">
              <div class="news-block__info">
                <div class="news-block__date">
                  2021.01.01
                </div>
                <div class="news-block__cat">
                  Press Release
                </div>
              </div>
              <div class="news-block__head">
                ホームページをリニューアルしました。
              </div>
              <a href="" target="_blank" class="news-block__pdf">
                PDF
              </a>
            </div>
          </li>
        </ul>
      </li>
      <li class="top-news__row" data-row="2">
        <ul class="top-news__list">
          <li class="top-news__item">
            <div class="news-block__item">
              <div class="news-block__info">
                <div class="news-block__date">
                  2021.01.01
                </div>
                <div class="news-block__cat">
                  Press Release
                </div>
              </div>
              <div class="news-block__head">
                ホームページをリニューアルしました。 2022
              </div>
              <a href="" target="_blank" class="news-block__pdf">
                PDF
              </a>
            </div>
          </li>
          <li class="top-news__item">
            <div class="news-block__item">
              <div class="news-block__info">
                <div class="news-block__date">
                  2021.01.01
                </div>
                <div class="news-block__cat">
                  Press Release
                </div>
              </div>
              <div class="news-block__head">
                ホームページをリニューアルしました。
              </div>
              <a href="" target="_blank" class="news-block__pdf">
                PDF
              </a>
            </div>
          </li>
          <li class="top-news__item">
            <div class="news-block__item">
              <div class="news-block__info">
                <div class="news-block__date">
                  2021.01.01
                </div>
                <div class="news-block__cat">
                  Press Release
                </div>
              </div>
              <div class="news-block__head">
                ホームページをリニューアルしました。
              </div>
              <a href="" target="_blank" class="news-block__pdf">
                PDF
              </a>
            </div>
          </li>
        </ul>
      </li>
      <li class="top-news__row" data-row="3">
        <ul class="top-news__list">
          <li class="top-news__item">
            <div class="news-block__item">
              <div class="news-block__info">
                <div class="news-block__date">
                  2021.01.01
                </div>
                <div class="news-block__cat">
                  Press Release
                </div>
              </div>
              <div class="news-block__head">
                ホームページをリニューアルしました。2021
              </div>
              <a href="" target="_blank" class="news-block__pdf">
                PDF
              </a>
            </div>
          </li>
          <li class="top-news__item">
            <div class="news-block__item">
              <div class="news-block__info">
                <div class="news-block__date">
                  2021.01.01
                </div>
                <div class="news-block__cat">
                  Press Release
                </div>
              </div>
              <div class="news-block__head">
                ホームページをリニューアルしました。
              </div>
              <a href="" target="_blank" class="news-block__pdf">
                PDF
              </a>
            </div>
          </li>
          <li class="top-news__item">
            <div class="news-block__item">
              <div class="news-block__info">
                <div class="news-block__date">
                  2021.01.01
                </div>
                <div class="news-block__cat">
                  Press Release
                </div>
              </div>
              <div class="news-block__head">
                ホームページをリニューアルしました。
              </div>
              <a href="" target="_blank" class="news-block__pdf">
                PDF
              </a>
            </div>
          </li>
        </ul>
      </li>
      <li class="top-news__row" data-row="4">
        <ul class="top-news__list">
          <li class="top-news__item">
            <div class="news-block__item">
              <div class="news-block__info">
                <div class="news-block__date">
                  2021.01.01
                </div>
                <div class="news-block__cat">
                  Press Release
                </div>
              </div>
              <div class="news-block__head">
                ホームページをリニューアルしました。OLD
              </div>
              <a href="" target="_blank" class="news-block__pdf">
                PDF
              </a>
            </div>
          </li>
          <li class="top-news__item">
            <div class="news-block__item">
              <div class="news-block__info">
                <div class="news-block__date">
                  2021.01.01
                </div>
                <div class="news-block__cat">
                  Press Release
                </div>
              </div>
              <div class="news-block__head">
                ホームページをリニューアルしました。
              </div>
              <a href="" target="_blank" class="news-block__pdf">
                PDF
              </a>
            </div>
          </li>
          <li class="top-news__item">
            <div class="news-block__item">
              <div class="news-block__info">
                <div class="news-block__date">
                  2021.01.01
                </div>
                <div class="news-block__cat">
                  Press Release
                </div>
              </div>
              <div class="news-block__head">
                ホームページをリニューアルしました。
              </div>
              <a href="" target="_blank" class="news-block__pdf">
                PDF
              </a>
            </div>
          </li>
        </ul>
      </li>
    </ul>
    <div class="top-news__link">
      <a href="/news" class="link-block">
        <div class="link-block__text">
          <div class="link-block__ja">
            一覧を見る
          </div>
          <div class="link-block__en">
            See more News List
          </div>
        </div>
        <div class="link-block__arrow">
          <img src="/img/top/arrow_rt.svg" alt="">
        </div>
      </a>
    </div>
  </div>
</div>