<div id="topPf" class="page-sec top-pf">
  <div class="top-pf__title section-head pc_only">
    OUT INVESTMENT
  </div>
  <div class="top-pf__inner">
    <div class="top-pf__title section-head sp_only">
      OUT INVESTMENT
    </div>
    <ul class="top-pf__list">
      <li class="top-pf__item">

        <div class="top-pf__en">
          Reach new horizons
          <br />with meaningful investments.
        </div>

        <div class="top-pf__head">
          個人の可能性を
          <br />拓く投資。
        </div>
        <div class="top-pf__desc">
          公正で、心の安全が保たれ、ダイバーシティ&インクルージョンが実装された社会で あらゆる個人が自分らしく輝ける状態を投資によって実現する。
        </div>
      </li>
      <li class="top-pf__item">
        <div class="top-pf__en">
          Reach new horizons
          <br />with meaningful investments.
        </div>


        <div class="top-pf__head">
          産業全体を
          <br />前に進める投資。
        </div>
        <div class="top-pf__desc">
          停滞し、元気のない日本企業をもう一度、成長させる。産業の再生と改革、社会全体の活力を投資によって取り戻す。
        </div>
      </li>
      <li class="top-pf__item">
        <div class="top-pf__en">
          Reach new horizons
          <br />with meaningful investments.
        </div>

        <div class="top-pf__head">
          地球の未来を
          <br />変える投資。
        </div>
        <div class="top-pf__desc">
          気候変動や海洋プラスチック問題。限界をむかえつつある 地球の未来を考えた持続可能なビジネスを投資によって後押しする。
        </div>
      </li>
    </ul>
    <div class="top-pf__link">
      <a href="/company" class="link-block">
        <div class="link-block__text">
          <div class="link-block__ja">
            会社情報
          </div>
          <div class="link-block__en">
            About Company
          </div>
        </div>
        <div class="link-block__arrow">
          <img src="/img/top/arrow_rt.svg" alt="">
        </div>
      </a>
    </div>
  </div>

</div>