
<div id="topState" class="top-state page-sec">
  <div class="top-state__title section-head pc_only">
    STATEMENT
  </div>
  <div class="top-state__inner">
    <div class="top-state__title section-head sp_only">
      STATEMENT
    </div>
    <div class="top-state__head ">
      意義ある投資で
      <br />新たな地平へ
    </div>
    <div class="top-state__en">
      Reach new horizons
      <br />with meaningful investments.
    </div>
    <div class="top-state__desc">
      2002年に日本で創業以来、ニューホライズンキャピタルは100を超える事業承継・成長支援・事業再生投資を行ってきました。資金だけでなく、投資後の事業パートナーとして、企業の成長・再生に全力を尽くしてきた経験と自負があります。
      <br />
      <br />大小を問わず、日本企業には多くの可能性が眠っています。それらを埋もれさせることなく、新たに改革・成長の土壌をつくりたい。私たちは、資本を集約し、それを「社会的な意義」のある投資・仕事に還元させていくことで、社会全体の未来を拓くことに挑戦します。
      <br />
      <br />投資先と共に思考し、持てるすべての知見を注ぎ込み、日本の産業再編の触媒として、変化と成長の創造を約束します。
    </div>
  </div>
</div>