/* ========================================
  Color Variables
======================================== */
// Brand Color Variables
// --------------------------------------------------
$color-brand-primary: #3EB370 !default;
$color-black: #000000 !default;
$color-gray2: #DCDDDD !default;
$color-gray3: #F0F4F6 !default;
$color-bg-white: rgb(255,255,255,0.8) !default;

// Text Color Variables
// --------------------------------------------------
$color-text-primary: #3A3838 !default;

$pc_main_width: 550;
