<!DOCTYPE HTML>
<html lang="ja">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>TITLE</title>
  <meta name="description" content="DESC">
  <meta name="viewport" content="width=device-width">
  <meta name="format-detection" content="telephone=no">
  <meta property="og:type" content="article">
  <meta property="og:title" content="TITLE">
  <meta property="og:description" content="DESC">
  <meta property="og:url" content="https://static.page">
  <meta name="twitter:card" content="summary_large_image" />
  <meta property="og:image" content="https://static.page/img/OGP.png">
  <meta property="og:site_name" content="TITLE">
  <meta property="og:locale" content="ja_JP">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="stylesheet" href="/scss/style.scss">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">

</head>

<body>
  <div>
    <%- include('components/header.ejs'); %>
      <%- include('components/main.ejs'); %>
        <%- include('components/footer.ejs'); %>
  </div>
  <script type="module" src="/js/index3.ts"></script>

  <script>
	
  </script>
</body>

</html>